* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.background-image {
    background-color: rgb(45, 45, 45);
    background-image: url('https://g.foolcdn.com/editorial/images/670475/profile-view-of-a-future-space-launch-system-at-liftoff.jpg');
    background-size: cover;
    height: 100vh;
    width: auto;

}   

header {
    position:relative;
    display:block;
    max-width:100%;
    /* height:100%; */
    margin:0 auto;
    padding:1rem 5rem;
    color:#fff;
}

header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0; 
    font-family: uniwars, sans-serif;
    font-style: italic;
    font-weight: 500;

}

nav {
    position: sticky;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
}

nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding:0 1rem;
    text-transform: uppercase;

}
nav li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
nav > li > a:hover,
nav > li > a:focus {
    text-decoration: underline;
    background-color: #eee;
}



div {
    
    position: absolute;
    bottom: 15vh;
    left: 50px;    
}

h4 {
    font-weight: 100;
    text-decoration: uppercase;
    position: relative;
    top: 20px;
   
}

h1 {
    

}

button {
    color: white;
    background-color: transparent;
    border: white solid 2px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

button:hover {

}
